{{<partials-page}} {{$encoding}}enctype="multipart/form-data" name="file-upload-form" {{/encoding}} 
{{$page-content}}
<p class="govuk-body">{{#t}}pages.birth-certificate.p1{{/t}}</p>

<p class="govuk-body">{{#t}}pages.birth-certificate.p2{{/t}}</p>

<div class="govuk-form-group" id="hofFileUpload">
    <label class="govuk-label" for="file-upload">
        <h2>{{#t}}pages.birth-certificate.upload-file{{/t}}</h2>
        <span class="govuk-hint">{{#t}}pages.birth-certificate.file-format{{/t}}</span>
    </label>
    <p id="file-upload-error-maxFileSize" class="govuk-error-message govuk-!-display-none">
        <span id="validation-error" class="govuk-visually-hidden">{{#t}}journey.error{{/t}}:</span> {{#t}}validation.file-upload.maxFileSize{{/t}}
    </p>
    <p id="file-upload-error-fileType" class="govuk-error-message govuk-!-display-none">
        <span id="validation-error" class="govuk-visually-hidden">{{#t}}journey.error{{/t}}:</span> {{#t}}validation.file-upload.fileType{{/t}}
    </p>
    <input class="govuk-file-upload" id="file-upload" name="file-upload" type="file" value="replace-birth-certificate">

    <div id="upload-page-loading-spinner" class="spinner-container">
        <div class="spinner-loader"></div>
        <span class="spinner-message">{{#t}}pages.birth-certificate.uploading-document{{/t}}</span>
      </div>

</div>

{{^values.replace-birth-certificate}}
<h2 class="govuk-heading-m">{{#t}}pages.birth-certificate.no-file-uploaded{{/t}}</h2>
{{/values.replace-birth-certificate}}

{{#values.replace-birth-certificate.length}}
<h2 class="govuk-heading-m">{{#t}}pages.birth-certificate.files-uploaded{{/t}}</h2>

<div id="uploaded-documents" class="govuk-width-container">
    {{#values.replace-birth-certificate}}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
            {{name}}
        </div>
        <div class="govuk-grid-column-one-quarter">
            <a href="?delete={{id}}" class="govuk-link">{{#t}}buttons.remove{{/t}}<span class="visuallyhidden">{{name}}</span></a>
        </div>
    </div>
    <div class="file-upload-hrline"></div>
    {{/values.replace-birth-certificate}}
</div>

{{/values.replace-birth-certificate.length}}


<button class="govuk-button" name="requireFileUpload" value="replace-birth-certificate">
    {{#t}}buttons.continue{{/t}}
</button>

{{/page-content}}
{{/partials-page}}
