{{<partials-page}}
  {{$pageTitle}}
    {{#t}}pages.replace-application-submitted.submitted{{/t}} &ndash; {{#t}}journey.serviceName{{/t}} &ndash; GOV.UK
  {{/pageTitle}}
{{$page-content}}
<div class="govuk-panel alert-complete govuk-panel--confirmation">
  <h1 class="govuk-panel__title">{{#t}}pages.replace-application-submitted.submitted{{/t}}</h1>
  <h2 class="govuk-!-font-weight-regular govuk-!-margin-bottom-0 payment-success-heading">{{#t}}pages.replace-application-submitted.payment-successful{{/t}}</h2>
</div>
<p>{{#t}}pages.replace-application-submitted.p1{{/t}}</p>
<h2>{{#t}}pages.replace-application-submitted.licence-damaged{{/t}}</h2>
<p>{{#t}}pages.replace-application-submitted.p2{{/t}}</p>
<p>{{#t}}pages.replace-application-submitted.p3{{/t}}</p>
<h2>{{#t}}pages.replace-application-submitted.licence-stolen-lost{{/t}}</h2>
<p>{{#t}}pages.replace-application-submitted.p4{{/t}}</p>
<p>{{#t}}pages.replace-application-submitted.p5{{/t}}</p>
<h2>{{#t}}pages.replace-application-submitted.make-change-application{{/t}}</h2>
<p>{{#t}}pages.replace-application-submitted.p6{{/t}} <a class="govuk-link" href="mailto:epp@homeoffice.pnn.police.uk">epp@homeoffice.pnn.police.uk</a>.</p>
{{/page-content}}
{{/partials-page}}
