{{<partials-page}}
  {{$pageTitle}}
    {{#t}}pages.amendment-submitted.submitted{{/t}} &ndash; {{#t}}journey.serviceName{{/t}} &ndash; GOV.UK
  {{/pageTitle}}
  {{$page-content}}
  <div class="govuk-panel alert-complete govuk-panel--confirmation">
    <h1 class="govuk-panel__title">{{#t}}pages.amendment-submitted.submitted{{/t}}</h1>
    <h2 class="govuk-!-font-weight-regular govuk-!-margin-bottom-0 payment-success-heading">{{#t}}pages.amendment-submitted.confirmation-sent{{/t}}</h2>
  </div>
  <h2>{{#t}}pages.amendment-submitted.return-licence{{/t}}</h2>
  <p>{{#t}}pages.amendment-submitted.p1{{/t}}</p>
  <p>{{#t}}pages.amendment-submitted.p2{{/t}}</p>
  <p> {{#t}}pages.amendment-submitted.p3{{/t}} <a class="govuk-link" href="mailto:epp@homeoffice.pnn.police.uk">epp@homeoffice.pnn.police.uk</a>.</p>
  {{/page-content}}
  {{/partials-page}}
