{{<partials-page}}
  {{$page-content}}
<div>
    <p class="govuk-body">{{#t}}pages.no-details-amend.paragraph1{{/t}}</p>
    <ul class="govuk-list govuk-list--bullet"> 
        <li>{{#t}}pages.no-details-amend.li1{{/t}}</li>
        <li>{{#t}}pages.no-details-amend.li2{{/t}}</li>
        <li>{{#t}}pages.no-details-amend.li3{{/t}}</li>
    </ul>
</div>
<div class="govuk-inset-text">
    {{#t}}pages.no-details-amend.insetText{{/t}} <a class="govuk-link" href="mailto:epp@homeoffice.pnn.police.uk">{{#t}}pages.no-details-amend.linkText{{/t}}</a>
</div>
  {{/page-content}}
{{/partials-page}}
