{{<partials-page}}
{{$encoding}}enctype="multipart/form-data" name="file-upload-form" {{/encoding}}
{{$page-content}}
<p>{{#t}}pages.upload-british-passport.paragraph1{{/t}}
   <a class="govuk-link" href="{{#t}}pages.upload-british-passport.link{{/t}}" rel="noreferrer noopener" target="_blank">{{#t}}pages.upload-british-passport.link-text{{/t}}</a>
</p>
<div class="govuk-form-group" id="hofFileUpload">
   <label class="govuk-label" for="file-upload">
      <h2>{{#t}}pages.upload-british-passport.label{{/t}}</h2>
      <span class="govuk-hint">{{#t}}pages.upload-british-passport.hint{{/t}}</span>
   </label>
   <p id="file-upload-error-maxFileSize" class="govuk-error-message govuk-!-display-none">
      <span id="validation-error" class="govuk-visually-hidden">{{#t}}journey.error{{/t}}:</span> {{#t}}validation.file-upload.maxFileSize{{/t}}
   </p>
   <p id="file-upload-error-fileType" class="govuk-error-message govuk-!-display-none">
      <span id="validation-error" class="govuk-visually-hidden">{{#t}}journey.error{{/t}}:</span> {{#t}}validation.file-upload.fileType{{/t}}
   </p>
   <input class="govuk-file-upload" id="file-upload" name="file-upload" type="file" value="amend-british-passport">
   <div id="upload-page-loading-spinner" class="spinner-container">
      <div class="spinner-loader"></div>
      <span class="spinner-message">{{#t}}pages.upload-british-passport.uploading-document{{/t}}</span>
   </div>
</div>
{{^values.amend-british-passport}}
<h2 class="govuk-heading-m">{{#t}}pages.upload-british-passport.not-uploaded{{/t}}</h2>
{{/values.amend-british-passport}}
{{#values.amend-british-passport.length}}
<br>
<h2 class="govuk-heading-m">{{#t}}pages.upload-british-passport.uploaded{{/t}}</h2>
<div id="uploaded-documents" class="govuk-width-container">
   {{#values.amend-british-passport}}
   <div class="govuk-grid-row">
       <div class="govuk-grid-column-three-quarters">
           {{name}}
       </div>
       <div class="govuk-grid-column-one-quarter">
           <a href="?delete={{id}}" class="govuk-link">{{#t}}buttons.remove{{/t}}</a>
       </div>
   </div>
   <div class="file-upload-hrline"></div>
   {{/values.amend-british-passport}}
</div>
{{/values.amend-british-passport.length}}
<button class="govuk-button" name="requireFileUpload" value="amend-british-passport">
   {{#t}}buttons.continue{{/t}}
</button>
{{/page-content}}
{{/partials-page}}
