{{<partials-page}}
{{$encoding}}enctype="multipart/form-data"{{/encoding}}
  {{$page-content}}
  <p>{{#t}}pages.upload-british-passport.paragraph1{{/t}}
  <a class="govuk-link" href="{{#t}}pages.upload-british-passport.link{{/t}}" rel="noreferrer noopener" target="_blank">{{#t}}pages.upload-british-passport.link-text{{/t}}</a>
  </p>

  {{#fields}}
    {{#renderField}}{{/renderField}}
  {{/fields}}
  <button class="govuk-button govuk-button--secondary" name="upload-file" value="upload-file">
    {{#t}}buttons.upload-file{{/t}}
  </button>
    {{^values.identity-british-passport}}
    <h2 class="govuk-heading-m">No files uploaded</h2>
    {{/values.identity-british-passport}}

    {{#values.identity-british-passport.length}}
    <br>
    <h2 class="govuk-heading-m">File uploaded</h2>
    <table class="table-address-loop">
      <tbody>
        <tr>
          <th></th>
          <th></th>
        </tr>
      {{#values.identity-british-passport}}
      <tr>
        <td>{{name}}</td>
        <td><a href="?delete={{id}}" class="govuk-link float-button">{{#t}}buttons.remove-image{{/t}}</a></td>
      </tr>
      {{/values.identity-british-passport}}
      </tbody>
    </table>
    {{/values.identity-british-passport.length}}

    <br>
  {{#input-submit}}continue{{/input-submit}} 
  {{/page-content}}
{{/partials-page}}
