{{<partials-page}}
{{$encoding}}enctype="multipart/form-data" name="file-upload-form"{{/encoding}}
  {{$page-content}}
  <p>{{#t}}pages.upload-british-passport.paragraph1{{/t}}
  <a class="govuk-link" href="{{#t}}pages.upload-british-passport.link{{/t}}" rel="noreferrer noopener" target="_blank">{{#t}}pages.upload-british-passport.link-text{{/t}}</a>
  </p>

    <div class="govuk-form-group govuk-!-margin-top-6" id="file-upload-group">
      <label class="govuk-label govuk-label--m" for="file-upload-group">
          {{#t}}fields.file-upload.label{{/t}}
      </label>
      <p id="file-upload-error-maxFileSize" class="govuk-error-message govuk-!-display-none">
        <span id="validation-error" class="govuk-visually-hidden">{{#t}}journey.error{{/t}}:</span> {{#t}}validation.file-upload.maxFileSize{{/t}}
      </p>
      <p id="file-upload-error-fileType" class="govuk-error-message govuk-!-display-none">
        <span id="validation-error" class="govuk-visually-hidden">{{#t}}journey.error{{/t}}:</span> {{#t}}validation.file-upload.fileType{{/t}}
      </p>
      <input class="govuk-file-upload" id="file-upload" name="file-upload" type="file" value="company-registration-certificate">
      <div id="upload-page-loading-spinner" class="spinner-container">
        <div class="spinner-loader"></div>
        <span class="spinner-message">{{#t}}epp-common.journey.uploading{{/t}}</span>
      </div>
    </div>
  
    {{^values.identity-british-passport}}
    <h2 class="govuk-heading-m">No files uploaded</h2>
    {{/values.identity-british-passport}}

    {{#values.identity-british-passport.length}}
    <br>
    <h2 class="govuk-heading-m">File uploaded</h2>
    <table class="table-address-loop">
      <tbody>
        <tr>
          <th></th>
          <th></th>
        </tr>
      {{#values.identity-british-passport}}
      <tr>
        <td>{{name}}</td>
        <td><a href="?delete={{id}}" class="govuk-link float-button">{{#t}}buttons.remove-image{{/t}}</a></td>
      </tr>
      {{/values.identity-british-passport}}
      </tbody>
    </table>
    {{/values.identity-british-passport.length}}

    <br>
  {{#input-submit}}continue{{/input-submit}} 
  {{/page-content}}
{{/partials-page}}
