{{<partials-page}}
 {{$page-content}}
  <div>
    <p class="govuk-body">{{#t}}pages.criminal-record.paragraph1{{/t}}</p>
    
    <p class="govuk-body">{{#t}}pages.criminal-record.paragraph4{{/t}}</p>
    <ul class="govuk-list govuk-list--bullet">
        <li>{{#t}}pages.criminal-record.listElement1{{/t}}</li>
        <li>{{#t}}pages.criminal-record.listElement2{{/t}}</li>
        <li>{{#t}}pages.criminal-record.listElement3{{/t}}</li>
        <li>{{#t}}pages.criminal-record.listElement4{{/t}}</li>
        <li>{{#t}}pages.criminal-record.listElement5{{/t}}</li>
    </ul>
    <p class="govuk-body">{{#t}}pages.criminal-record.paragraph2{{/t}}</p>
    <p class="govuk-body">{{#t}}pages.criminal-record.paragraph3{{/t}}</p>
  </div>
  {{#fields}}
    {{#renderField}}{{/renderField}}
  {{/fields}}
    {{#input-submit}}continue{{/input-submit}}
  {{/page-content}}
{{/partials-page}}
