{{<partials-page}}
{{$page-content}}

<p class="govuk-body">You told us you do not need your licence to cover explosives precursors or poisons. Therefore, you do not need to apply for a licence.</p>
<p class="govuk-body">You can check which substances your licence needs to cover on the
    <a class="govuk-link" href="https://www.gov.uk/government/publications/supplying-explosives-precursors/list-of-chemicals" target="_blank" rel="noreferrer noopener"> list of regulated chemicals (opens in a new tab)</a>.
</p>
<p>You do not need a licence for reportable explosives precursors or poisons.</p>

{{/page-content}}
{{/partials-page}}
