{{<partials-page}}
{{$page-content}}

<p class="govuk-body">{{#t}}pages.payment-failed.p1{{/t}}</p>
<ul class="govuk-list govuk-list--bullet">
    <li>{{#t}}pages.payment-failed.card-details-incorrect{{/t}}</li>
    <li>{{#t}}pages.payment-failed.fraud-check{{/t}}</li>
    <li>{{#t}}pages.payment-failed.3d-authentication{{/t}}</li>
    <li>{{#t}}pages.payment-failed.insufficient-funds{{/t}}</li>
</ul>
<p class="govuk-body">{{#t}}pages.payment-failed.p2{{/t}}</p>
<p class="govuk-body">
    {{#t}}pages.payment-failed.p3{{/t}}
    <a class="govuk-link" href="mailto:epp@homeoffice.pnn.police.uk">epp@homeoffice.pnn.police.uk</a>.
</p>
<div id="loader-container" class=""></div>
<div id="report-submit">{{#input-submit}}try-paying-again{{/input-submit}}</div>
{{/page-content}}
{{/partials-page}}
