{{<partials-page}}
 {{$page-content}}

    <p class="govuk-body">You cancelled the payment. Your account has not been charged.</p>
    <p class="govuk-body">Your answers will be saved for 30 minutes. You can <a class="govuk-link" href="{{baseUrl}}/confirm">check your answers again</a> and pay for your licence in this time.</p>
    <p class="govuk-body">After 30 minutes, your answers will be deleted and you will have to enter them again.</p>
    {{#input-submit}}try-paying-again{{/input-submit}}
  {{/page-content}}
{{/partials-page}}
