{{<partials-page}}
 {{$page-content}}

    <p class="govuk-body">{{#t}}pages.service-problem.p1{{/t}}</p>
    <h2 class="govuk-heading-m">{{#t}}pages.service-problem.h2-title{{/t}}</h2>
    <p class="govuk-body">
      {{#t}}pages.service-problem.p2{{/t}} 
      <a class="govuk-link" href="mailto:epp@homeoffice.pnn.police.uk">{{#t}}pages.service-problem.link-text{{/t}}</a>, {{#t}}pages.service-problem.p3{{/t}} 
    </p>
    <ul class="govuk-!-margin-top-2 govuk-!-margin-left-2">
        <li>{{#t}}pages.service-problem.p3-li1{{/t}}</li>
        <li>{{#t}}pages.service-problem.p3-li2{{/t}}</li>
    </ul>
    <p class="govuk-body">{{#t}}pages.service-problem.p4{{/t}}</p>
  {{/page-content}}
{{/partials-page}}
