{{<partials-page}} {{$encoding}}enctype="multipart/form-data" name="file-upload-form" {{/encoding}}
{{$page-content}}
<p class="govuk-body">{{#t}}pages.upload-passport.p1{{/t}}
    <a class="govuk-link" href="{{#t}}pages.upload-passport.link{{/t}}" target="_blank" rel="noreferrer noopener">
        {{#t}}pages.upload-passport.link-text{{/t}}
    </a>
</p>

<div class="govuk-form-group" id="hofFileUpload">
    <label class="govuk-label" for="file-upload">
        <h2>{{#t}}pages.upload-passport.upload-file{{/t}}</h2>
        <span class="govuk-hint">{{#t}}pages.upload-passport.file-format{{/t}}</span>
    </label>
    <p id="file-upload-error-maxFileSize" class="govuk-error-message govuk-!-display-none">
        <span id="validation-error" class="govuk-visually-hidden">{{#t}}journey.error{{/t}}:</span> {{#t}}validation.file-upload.maxFileSize{{/t}}
    </p>
    <p id="file-upload-error-fileType" class="govuk-error-message govuk-!-display-none">
        <span id="validation-error" class="govuk-visually-hidden">{{#t}}journey.error{{/t}}:</span> {{#t}}validation.file-upload.fileType{{/t}}
    </p>
    <input class="govuk-file-upload" id="file-upload" name="file-upload" type="file" value="new-renew-eu-passport">

    <div id="upload-page-loading-spinner" class="spinner-container">
        <div class="spinner-loader"></div>
        <span class="spinner-message">{{#t}}pages.upload-passport.uploading-document{{/t}}</span>
    </div>

</div>

{{^values.new-renew-eu-passport}}
<h2 class="govuk-heading-m">{{#t}}pages.upload-passport.no-file-uploaded{{/t}}</h2>
{{/values.new-renew-eu-passport}}

{{#values.new-renew-eu-passport.length}}
<h2 class="govuk-heading-m">{{#t}}pages.upload-passport.you-have-uploaded{{/t}} {{values.new-renew-eu-passport.length}} {{#t}}pages.upload-passport.files{{/t}}</h2>

<div id="uploaded-documents" class="govuk-width-container">
    {{#values.new-renew-eu-passport}}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
            {{name}}
        </div>
        <div class="govuk-grid-column-one-quarter">
            <a href="?delete={{id}}" class="govuk-link">{{#t}}buttons.remove{{/t}}</a>
        </div>
    </div>
    <div class="file-upload-hrline"></div>
    {{/values.new-renew-eu-passport}}
</div>

{{/values.new-renew-eu-passport.length}}


<button class="govuk-button" name="requireFileUpload" value="new-renew-eu-passport">
    {{#t}}buttons.continue{{/t}}
</button>

{{/page-content}}
{{/partials-page}}