{{<partials-page}} {{$page-content}}

{{#renderField}}new-renew-dob{{/renderField}}
{{#input-text}}new-renew-birth-place{{/input-text}}
{{#select}}new-renew-birth-country{{/select}}
{{#select}}new-renew-country-nationality{{/select}}
{{#radio-group}}new-renew-more-nationalities{{/radio-group}}
{{#radio-group}}new-renew-your-sex{{/radio-group}}
<details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">Why we ask for your sex</span>
  </summary>
  <div class="govuk-details__text">
    <p>
      We need to include this information in our internal database of licence holders. Your sex does not affect if you can get a licence.
    </p>
  </div>
</details>
{{#input-text}}new-renew-your-height{{/input-text}}
<details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">Why we ask for your height</span>
  </summary>
  <div class="govuk-details__text">
    <p>
      We need to include this information in our internal database of licence holders. Your height does not affect if you can get a licence.
    </p>
  </div>
</details>
{{#input-text}}new-renew-occupation{{/input-text}}

{{#input-submit}}continue{{/input-submit}} 
{{/page-content}} 
{{/partials-page}}
