{{#hasItems}}
<div class="loop-summary-table">
    {{#items}}
    <div class="table-options govuk-!-margin-bottom-6">
        <h2 class="govuk-table__caption--m">{{joinTitle}}</h2>
        <div>
            <a href="{{baseUrl}}/{{route}}/edit/{{index}}">{{#t}}buttons.edit{{/t}}<span class="visuallyhidden">{{joinTitle}}</span></a>
            <a href="{{baseUrl}}/{{route}}/delete/{{index}}" class="govuk-!-margin-left-3">{{#t}}buttons.remove{{/t}}<span class="visuallyhidden">{{joinTitle}}</span></a>
        </div>
    </div>
    <dl class="govuk-summary-list govuk-!-width-full">
        {{#fields}}
        {{#showInSummary}}
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">{{#t}}fields.{{field}}{{/t}}</dt>
            <dd class="govuk-summary-list__value">{{#parsed}}{{parsed}}{{/parsed}}{{^parsed}}{{value}}{{/parsed}}</dd>
        </div>
        {{/showInSummary}}
        {{/fields}}
    </dl>
    {{/items}}
</div>
{{/hasItems}}
